<section class="m-4">
    <form class="d-flex align-items-center gap-3" [formGroup]="formSearch">
        <input class="form-control w-100" type="text" formControlName="name">
        <select class="form-select w-75" formControlName="blockType">
            @for(list of blockList; track $index){
                <option [value]="list.id">{{list.name}}</option>
            }
          </select>
          <button type="button" class="btn btn-primary" (click)="searchCards()">Buscar</button>
    </form>
</section>
