<section class="m-4 d-flex flex-column align-items-center">
    <h1 class="mb-4 text-center">Magic: The Gathering Developers</h1>
    <form class="d-flex align-items-center justify-content-center gap-3 w-100 flex-wrap" [formGroup]="formSearch">
        <input class="form-control input-name" type="text" formControlName="name" placeholder="Nome">

        <div class="d-flex align-items-center gap-2">
            <select class="form-select " id="select-input" formControlName="blockType">
                @for(list of blockList; track $index){
                <option [value]="list.id">{{list.name}}</option>
                }
            </select>
    
            <button type="button" class="btn btn-primary" (click)="searchCards()">Buscar</button>
        </div>
    </form>
</section>

@if(isLoading){
<div class="w-100 d-flex align-items-center justify-content-center mt-5">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
}

@if(cards.length){
<app-collection-list [magicCards]="cards"></app-collection-list>
}