.card{
    height: 100%;
    border-color: var(--purple) !important;
    border-radius: .8rem;

    .card-title{
        color: var(--purple);
    }
    .card-body{
        padding: 0 1rem;
    }

    .card-text-body{
        height: 18rem;
    }

    .card-text:last-child{
        height: 12rem;
        overflow: hidden;
    }
}

.btn{
    background-color: var(--purple);
    border-color: var(--purple);
    min-width: 20rem;
}

@media screen and (max-width: 481px) {
    .card{
        width: 15rem;
        .image-card{
            margin-bottom: 1.5rem;
        }
    }
}

@media screen and (min-width:482px) and (max-width: 767px) {
    .card{
        width: 25rem;
        .image-card{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5rem;
        }
    }
}
@media screen and (min-width: 768px) {
    .card{
        width: 35rem;

    }
}
